.box {
    font-size:smaller;
    /*width: 80px;
    height: 40px;*/
    min-width: 160px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px;
    float: left;
    background-color: whitesmoke;
    color:black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box label {
    font-weight: bold;
}

.box label:after {
    content: ":"
}

button {
    background: #eeeeee;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.40);
    border-radius: 4px;
    border: none;
    padding: 6px 12px;
    margin:4px 4px 4px 0px;
    font-size:80%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kai_status { 
    color: red;
}

#svgOutline {
    padding: 6px;
    background-color: red;
}